*{
    font-family:'Times New Roman', Times, serif;
}

#homePage-navbar{
    
    display: flex;
    justify-content: space-around;
    padding: 2%;
    text-decoration: none;
    background-color: rgb(162, 63, 134);
}